@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="container">
    <form method="post" action="/Account/LoginForm">
        <div class="mb-3">
            <label for="usernameOrEmail" class="form-label">Username or Email</label>
            <input type="text" name="usernameOrEmail" id="usernameOrEmail" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" required />
        </div>
        <div id="errorMessage" style="color: red;">
            @if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                @ViewBag.Error        
            }
        </div><br />
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
