@{
    ViewBag.Title = "Home Page";
}

<div class="bg-dark text-white py-3">
    <div class="container">
        <h1 class="fw-bold">Online Shop</h1>
        <p class="lead">Welcome to our store</p>
    </div>
</div>