
@{
    ViewBag.Title = "UpdateDelete";
}

<h2>UpdateDelete</h2>

<html>
<head>

</head>
<body>
    Input Customer ID <br />
    <input tpye="text" id="txtidno" name="txtidno" required /> &nbsp;
    <input type="submit" id="btnSearch" value="Search" /><br />
    First Name <br />
    <input type="text" id="txtname" /><br />
    Email <br />
    <input type="text" id="txtemail" /><br />
    Password <br />
    <input type="number" id="txtpass" /><br />
    <input type="submit" id="btnEdit" name="btnEdit" value="Edit" />&nbsp;
    <input type="submit" id="btnUpdate" name="btnUpdate" value="Update" />&nbsp;
    <input type="submit" id="btnDel" name="btnDel" value="Delete" />&nbsp;
</body>
</html>
<script src="~/Scripts/LatestJquery/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/MyScripts/UpdateDeleteSearch.js"></script>
